
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>homepage</title>
</head>
<body>
    <div>
        header
        <ul>
            <li>
                <a href="#">Ipsum.</a>
            </li>
            <li>
                <a href="#">Dolor.</a>
            </li>
            <li>
                <a href="#">Sit.</a>
            </li>
        </ul>
    </div>
    <hr />
    <div>
        body
        <hr />
        <h4> Faydali Linkler</h4>
        @{
            Html.RenderPartial("_PartialFaydaliLinkler");
        }

        @*@Html.Partial("_PartialFaydaliLinkler")*@

        <p>Velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus vulputate leo, eget consequat neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula mattis nec in hac habitasse platea dictumst.</p>
    </div>
    <hr />
    <div>
        footer


        @*@Html.Partial("_PartialFaydaliLinkler")*@
    </div>
</body>
</html>
